{% extends 'core/base.html' %}

{% load static %}


{% block extrastyle %}
  <link rel="stylesheet" href="{% static 'core/css/proyectos/inscripcionProyecto.css' %}">
{% endblock extrastyle %}
  

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

{% block Headerborder %}
<div class="header__navegacion">
    <ul class="header__lista">
        <li class="header__item">
            <a class="header__link" aria-current="page" href="{% url 'inicio' %}">Inicio</a>
        </li>
        <li class="header__item">
            <a class="header__link" aria-current="page"
                href="{% url 'listar_noticia' %}">Noticias</a>
        </li>
        <li class="header__item">
            <a class="header__link" aria-current="page"
                href="{% url 'listar_proyectos' %}">Proyectos</a>
        </li>
        <li class="header__item">
            <a class="header__link" aria-current="page"
                href="{% url 'listar_actividad' %}">Actividades</a>
        </li>
    </ul>
</div>
{% endblock Headerborder %}

{% block content %}
<main class="main container">
    <div class="volver">
      <a href="{% url 'detalle_proyecto' proyecto.id %}" class="volver__link">
          <img class="volver__imagen" src="{% static 'core/img/flecha-izquierda.svg' %}" alt="">
          <p class="volver__texto">Volver | Proyecto</p>
      </a>
      <a href="{% url 'listar_proyectos' %}" class="volver__link">
          <img class="volver__imagen" src="{% static 'core/img/flecha-derecha.svg' %}" alt="">
          <p class="volver__texto">Volver | Proyectos</p>
      </a>
    </div>

    <h2 class="main__titular">Postular en {{ proyecto.nombre_proyecto }}</h2>

    {% if proyecto.cupos_disponibles_proyecto > 0 %}
    <form id="formulario" class="formulario" method="POST" action="{% url 'inscribir_proyecto' proyecto.pk %}" enctype="multipart/form-data"> {% csrf_token %}
        <div class="formulario__flex">

            
            {% if proyecto.imagen_proyecto %}
                <img class="formulario__imagen" src="{{ proyecto.imagen_proyecto.url }}" alt="">
            {% else %}
                <img class="formulario__imagen" src="{% static 'core/img/noDisponible.png' %}" alt="imagen no disponible">    
            {% endif %}
                
        </div>  
          
        <div class="formulario__flex">
            <label class="formulario__label" for="id_nombre">{{ form.nombre.label }}</label>
            {{ form.nombre }}
        </div>
        <div class="formulario__flex">
            <label class="formulario__label" for="id_apellido">{{ form.apellido.label }}</label>
            {{ form.apellido }}
        </div>
        <div class="formulario__flex">
            <p class="formulario__nota"><span class="formulario__asterisco">* (Obligatorio) </span>Para saber que documentos enviar, leer requisitos del proyecto.</p>
            <input class="formulario__file" type="file" id="archivos" name="archivos_adjuntos" multiple>
            <label class="formulario__label" for="archivos">Selecciona archivo/s</label>
        </div>
        <div class="formulario__flex">
            <button type="submit" class="formulario__submit">Postular</button>
            <div class="load">
                <div class="sk-chase">
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                </div>
            </div>
        </div>
    </form>
    {% else %}
    <p>Lo sentimos, los cupos para este proyecto están agotados.</p>
    {% endif %}
</main>

{% endblock %}

{% block Footerborder %}


        <div class="header__navegacion">
            <ul class="header__lista">
                <li class="header__item">
                    <a class="header__link" aria-current="page" href="{% url 'inicio' %}">
                        <span>Inicio</span></a>
                </li>
                <li class="header__item">
                    <a class="header__link" aria-current="page"
                        href="{% url 'listar_noticia' %}">
                        <span>Noticias</span></a>
                </li>
                <li class="header__item">
                    <a class="header__link" aria-current="page"
                        href="{% url 'listar_proyectos' %}">
                        <span>Proyectos</span></a>
                </li>
                <li class="header__item">
                    <a class="header__link" aria-current="page"
                        href="{% url 'listar_actividad' %}">
                        <span>Actividades</span></a>
                </li>
            </ul>
        </div>
  
{% endblock Footerborder %}


{% block js %}
    <script src="{% static 'core/js/miembroJDV/postular/postular.js' %}"></script>
{% endblock js %}
    