{% extends 'core/base.html' %}

{% load static %}

{% load tz %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'core/css/vecino/carousel.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/vecino/beneficios.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/proyectos/proyecto.css' %}">
{% endblock extrastyle %}
    

{% block Headerborder %}
<div class="header__navegacion">
    <ul class="header__lista">
        <li class="header__item">
            <a class="header__link" aria-current="page" href="{% url 'inicio' %}">
                <span>Inicio</span></a>
        </li>
        <li class="header__item">
            <a class="header__link" aria-current="page"
                href="{% url 'listar_noticia' %}">
                <span>Noticias</span></a>
        </li>
        <li class="header__item">
            <a class="header__link" aria-current="page"
                href="{% url 'listar_proyectos' %}">
                <span class="border">Proyectos</span></a>
        </li>
        <li class="header__item">
            <a class="header__link" aria-current="page"
                href="{% url 'listar_actividad' %}">
                <span>Actividades</span></a>
        </li>
    </ul>
</div>
{% endblock Headerborder %}

{% block FuncionVecino %}    
<div class="header__navegacion">
    <ul class="header__lista">
        <li class="header__item">
            <a class="header__link iniciar" aria-current="page" href="{% url 'login' %}">Iniciar sesión</a>
        </li>
        <li class="header__item">
            <a class="header__link inscribirse" aria-current="page"
                href="{% url 'register_user' %}">Registrarse</a>
        </li>
    </ul>
</div>
{% endblock FuncionVecino %}

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

{% block carouselAuth %}
<section class="seccion-principal">

    <div class="carousel container">
        <div class="carousel__contenedor">
            <div class="carousel__atras" id="atras">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 9l-3 3m0 0l3 3m-3-3h7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg> 
            </div>
            <div class="carousel__slider">
                
                {% for imagen in imagenes %}
                    <div class="carousel__item">
                        <a class="carousel__texto" href="{% url 'carouselProyectos' imagen.id %}">{{ imagen.titulo }}</a>
                        <img class="carousel__imagen" src="{{ imagen.imagen.url }}" alt="imagen carousel">
                    </div>
                {% endfor %}

            </div>
            <div class="carousel__puntos">

            </div>
            <div class="carousel__siguiente" id="siguiente">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12.75 15l3-3m0 0l-3-3m3 3h-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                
            </div>
            
        </div>
    </div>
</section>
{% endblock carouselAuth %}

{% block beneficio %}
    <section class="beneficios">
        <div class="beneficios__dos">
            <div class="beneficios__grid container">
                <div>
                    <img class="beneficio__imagen" src="{% static 'core/img/beneficio1.svg' %}" alt="imagen beneficio">
                </div>
                <div class="beneficio__contenido">
                    <h2 class="beneficio__titulo">Descubre nuestros Planes</h2>
                    <p class="beneficio__descripcion">
                        Ofrecemos una diversidad de proyectos en nuestra plataforma, con opciones de postulación y fechas variables. La información oficial, junto con descripciones detalladas, se encuentra en nuestro portal de 'Proyectos'. Regístrese para acceder a detalles adicionales y disfrutar de una experiencia interactiva y actualizada con nuestras oportunidades.
                    </p>
                </div>
            </div>
        </div>
        <div class="beneficios__ola">
            <svg class="ola" data-name="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 251.7">
                <path d="M0 59.7L48 81c48 21.7 144 63.7 240 64 96-.3 192-42.3 288-74.6 96-31.7 192-53.7 288-64 96-10.7 192-10.7 288 21.3s192 96 240 128l48 32v64H0z"/>
            </svg>
        </div>
    </section>
{% endblock beneficio %}

{% block content %}

<main class="main container">
    <h2 class="main__titulo">Portal de Proyectos</h2>
    <p class="main__subtitular">Aquí encontrarás todas los Proyectos de SORTE</p>
    
    {% if page_obj %}
        
        <form class="formulario" method="GET" action="{% url 'listar_proyectos' %}">
                                        
            {% if request.GET %}
                <div class="volver">
                    <a href="{% url 'listar_proyectos' %}" class="volver__link">
                        <img class="volver__imagen" src="{% static 'core/img/flecha-izquierda.svg' %}" alt="">
                        <p class="volver__texto">Regresar</p>
                    </a>
                </div>
                
            {% endif %}
                
            <div class="formulario__contenedor">
                <input class="formulario__input" name="q" type="search" placeholder="Buscar">
                <button class="formulario__submit" type="submit">Buscar</button>
            </div>
        </form>
    {% endif %}
        

    <div class="main__grid">
        <div class="main__proyectos">
        
        {% if page_obj %}

        
            
            {% for proyecto in page_obj %}
            
                
                <div class="main__proyecto">
                    {% if proyecto.imagen_proyecto %}
                        <img class="main__imagen" src="{{ proyecto.imagen_proyecto.url }}" alt="">
                    {% else %}
                        <img class="main__imagen" src="{% static 'core/img/noDisponible.png' %}" alt="imagen no disponible">
                    {% endif %}
                    <h2 class="main__titular">{{proyecto.nombre_proyecto}}</h2>
                    <p class="main__contenido">{{proyecto.descripcion}}</p>

                    <div class="main__ver-mas">
                        <a href="{% url 'detalle_proyecto' proyecto.id %}" class="main__ver">Ver más</a>
                    </div>

                    <div class="main__postulacion">
                        <span class="main__span">Requisitos: <p class="main__requisito">{{proyecto.requisitos}}</p></span>

                        {% if proyecto.cupos_disponibles_proyecto == 0 %}
                            <span class="main__span">Cupos disponibles: <p class="main__fechaInicioPostulacion cero__cupos" style="color:red">{{proyecto.cupos_disponibles_proyecto}}</p></span>
                        {% else %}
                            <span class="main__span">Cupos disponibles: <p class="main__fechaInicioPostulacion">{{proyecto.cupos_disponibles_proyecto}}</p></span>
                        {% endif %}
                        
                        <span class="main__span">Fecha de Inicio: <p class="main__fechaTerminoPostulacion">{{proyecto.fecha_inicio}}</p></span>
                        <span class="main__span">Hora de Inicio: <p class="main__fechaTerminoPostulacion">{{proyecto.fecha_inicio_hora}}</p></span>
                        <span class="main__span">Fecha de Término: <p class="main__cuposTotal">{{proyecto.fecha_termino}}</p></span>
                        <span class="main__span">Hora de Término: <p class="main__cuposTotal">{{proyecto.fecha_termino_hora}}</p></span>
                        
                        
                        {% if user.is_staff %}

                        {% elif user.is_authenticated  %}
                    
                            {% localtime on %}
                                {% now "Y-m-d H:i:s" as local_now %}
                                {% if local_now >= proyecto.fecha_tiempo_inicio|date:"Y-m-d H:i:s" and local_now <= proyecto.fecha_date_termino|date:"Y-m-d H:i:s" %}
                                    <!-- Tu código aquí -->
                                    {% if proyecto.cupos_disponibles_proyecto <= 0 %}
                                        <a href="{% url 'inscribir_proyecto' proyecto.id %}" class="main__inscribirse agotado">Agotado</a>
                                    {% else %}
                                        <a href="{% url 'inscribir_proyecto' proyecto.id %}" class="main__inscribirse">Postular</a>
                                    {% endif %}
                                {% elif local_now < proyecto.fecha_tiempo_inicio|date:"Y-m-d H:i:s"  %}
                                    <a class="main__inscribirse wait">Esperar</a>
                                {% else %}
                                    <a class="main__inscribirse desactivado">Finalizado</a>
                                {% endif %}
                            {% endlocaltime %}   

                        {% endif %}
                    </div>


                    
                    
                        
                    {% if user.is_staff %}
                    <div class="botones">
                        <a href="{% url 'editar_proyecto' proyecto.id %}" class="main__editar">Editar</a>
                        <a href="{% url 'eliminar_proyecto' proyecto.id %}" class="main__eliminar">Eliminar</a>
                    </div>
                    {% endif %}
                </div>
    
            {% endfor %}
        {% else %}
                    <p>No hay Proyectos que mostrar</p>
        {% endif %}
            
        </div>
        <div class="main__paginacion">
            <div class="main__contenedor">
                    
                {% if page_obj %}
                    <div class="main__paginador">
                        <ul class="main__lista">
                            
                            {% if page_obj.has_previous %}
                                
                                    <a class="main__item main__item--atras" href="?page={{page_obj.previous_page_number}}">Atras</a>
                                
                            {% endif %}
                            
                            {% for pagina in page_obj.paginator.page_range %}
        
                                
                                {% if pagina == page_obj.number  %} 
                                    <a class="main__item pagina-actual" href="?page={{pagina}}">{{ pagina }}</a>
        
                                {% else %}
                                
                                    <a class="main__item main__item--number" href="?page={{pagina}}">{{ pagina }}</a>
                                {% endif %}
                                    
        
                                
                            {% endfor %}
                            
                            {% if page_obj.has_next %}
                               
                                    <a class="main__item main__item--siguiente" href="?page={{page_obj.next_page_number}}">Siguiente</a>
                                
                            {% endif %}
        
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block Footerborder %}


        <div class="header__navegacion">
            <ul class="header__lista">
                <li class="header__item">
                    <a class="header__link" aria-current="page" href="{% url 'inicio' %}">
                        <span>Inicio</span></a>
                </li>
                <li class="header__item">
                    <a class="header__link" aria-current="page"
                        href="{% url 'listar_noticia' %}">
                        <span>Noticias</span></a>
                </li>
                <li class="header__item">
                    <a class="header__link" aria-current="page"
                        href="{% url 'listar_proyectos' %}">
                        <span class="border">Proyectos</span></a>
                </li>
                <li class="header__item">
                    <a class="header__link" aria-current="page"
                        href="{% url 'listar_actividad' %}">
                        <span>Actividades</span></a>
                </li>
            </ul>
        </div>


   
{% endblock Footerborder %}

{% block js %}
 
    <script src="{% static 'core/js/vecino/carousel/carousel.js' %}"></script>
{% endblock %}