{% extends 'core/base.html' %}

{% load static %}


{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'core/css/dashboard/dashboard.css' %}">
{% endblock extrastyle %}


{% block Headerborder %}
    <div class="header__navegacion">
        <ul class="header__lista">
            <li class="header__item">
                <a class="header__link" aria-current="page" href="{% url 'inicio' %}">Inicio</a>
            </li>
            <li class="header__item">
                <a class="header__link" aria-current="page"
                    href="{% url 'listar_noticia' %}">Noticias</a>
            </li>
            <li class="header__item">
                <a class="header__link" aria-current="page"
                    href="{% url 'listar_proyectos' %}">Proyectos</a>
            </li>
            <li class="header__item">
                <a class="header__link" aria-current="page"
                    href="{% url 'listar_actividad' %}">Actividades</a>
            </li>
        </ul>
    </div>
{% endblock Headerborder %}



{% block content %}
    
    <main class="main">
        <div class="main__contenedor container">
            <aside class="main__aside">
                <div class="main__titulo">
                    <h2 class="main__h2">Tu portal de Dashboards</h2>
                </div>
                <div class="main__navegacion">
                    <div class="main__enlace">
                        <a class="main__link activo" href="{% url 'dashboard' %}">Dashboard Vecinos</a>
                        <a class="main__link" href="{% url 'dashboard_actividad' %}">Dashboard Actividades</a>
                        <a class="main__link" href="{% url 'dashboard_proyecto' %}">Dashboard Proyectos</a>
                    </div>
                </div>
            </aside>
            <div class="main__portal">
                <div class="main__titular">
                    <h2 class="main__h2">Dashboard Vecinos</h2>

                </div>
                <div class="main__informacion">
                    
                    <div class="main__grid">
                        <h3 class="main__title">Bienvenido {{ user.username }} al Dashboard de los usuarios</h3>
                        

                        <div class="grafico">
                            <h2 class="grafico__titulo">Registro de usuarios por género (gráfico de torta)</h2>
                            <img src="data:image/png;base64,{{ image_base64_pie }}" class="grafico__imagen"
                                alt="Gráfico de Género (gráfico de torta)">
                            <div class="grafico__flex">
                               

                                    <a href="{% url 'download_excel' excel_file_path %}" class="grafico__link" download>
                                     <svg class="grafico__excel" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                        <path d="M48 448V64c0-8.8 7.2-16 16-16H224v80c0 17.7 14.3 32 32 32h80V448c0 8.8-7.2 16-16 16H64c-8.8 0-16-7.2-16-16zM64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V154.5c0-17-6.7-33.3-18.7-45.3L274.7 18.7C262.7 6.7 246.5 0 229.5 0H64zm90.9 233.3c-8.1-10.5-23.2-12.3-33.7-4.2s-12.3 23.2-4.2 33.7L161.6 320l-44.5 57.3c-8.1 10.5-6.3 25.5 4.2 33.7s25.5 6.3 33.7-4.2L192 359.1l37.1 47.6c8.1 10.5 23.2 12.3 33.7 4.2s12.3-23.2 4.2-33.7L222.4 320l44.5-57.3c8.1-10.5 6.3-25.5-4.2-33.7s-25.5-6.3-33.7 4.2L192 280.9l-37.1-47.6z"/>
                                    </svg>   
                                        Descargar Datos en
                                        Excel</a>
                                
                            </div>
                        </div>

                        <div class="grafico">
                            <h2 class="grafico__titulo">Registro de usuarios por género (gráfico de barras)</h2>
                            <img src="data:image/png;base64,{{ image_base64_bar }}" class="grafico__imagen"
                                alt="Gráfico de Género (gráfico de barras)">
                            <div class="grafico__flex">
                                
                               
                                    <a href="{% url 'download_excel' excel_file_path %}" class="grafico__link" download>
                                     <svg class="grafico__excel" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                        <path d="M48 448V64c0-8.8 7.2-16 16-16H224v80c0 17.7 14.3 32 32 32h80V448c0 8.8-7.2 16-16 16H64c-8.8 0-16-7.2-16-16zM64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V154.5c0-17-6.7-33.3-18.7-45.3L274.7 18.7C262.7 6.7 246.5 0 229.5 0H64zm90.9 233.3c-8.1-10.5-23.2-12.3-33.7-4.2s-12.3 23.2-4.2 33.7L161.6 320l-44.5 57.3c-8.1 10.5-6.3 25.5 4.2 33.7s25.5 6.3 33.7-4.2L192 359.1l37.1 47.6c8.1 10.5 23.2 12.3 33.7 4.2s12.3-23.2 4.2-33.7L222.4 320l44.5-57.3c8.1-10.5 6.3-25.5-4.2-33.7s-25.5-6.3-33.7 4.2L192 280.9l-37.1-47.6z"/>
                                    </svg>   
                                        Descargar Datos en
                                        Excel</a>
                               
                            </div>
                        </div>

                        <div class="grafico">
                            <h2 class="grafico__titulo">Relación entre Edad y Cantidad de Usuarios (gráfico de dispersión)</h2>
                            <img src="data:image/png;base64,{{ image_base64_scatter }}" class="grafico__imagen"
                                alt="Gráfico de Dispersión (edad vs. cantidad de usuarios)">
                            <div class="grafico__flex">
                                
                               
                                    <a href="{% url 'download_excel_birthdate' excel_file_path2 %}" class="grafico__link" download>
                                     <svg class="grafico__excel" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                        <path d="M48 448V64c0-8.8 7.2-16 16-16H224v80c0 17.7 14.3 32 32 32h80V448c0 8.8-7.2 16-16 16H64c-8.8 0-16-7.2-16-16zM64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V154.5c0-17-6.7-33.3-18.7-45.3L274.7 18.7C262.7 6.7 246.5 0 229.5 0H64zm90.9 233.3c-8.1-10.5-23.2-12.3-33.7-4.2s-12.3 23.2-4.2 33.7L161.6 320l-44.5 57.3c-8.1 10.5-6.3 25.5 4.2 33.7s25.5 6.3 33.7-4.2L192 359.1l37.1 47.6c8.1 10.5 23.2 12.3 33.7 4.2s12.3-23.2 4.2-33.7L222.4 320l44.5-57.3c8.1-10.5 6.3-25.5-4.2-33.7s-25.5-6.3-33.7 4.2L192 280.9l-37.1-47.6z"/>
                                    </svg>   
                                        Descargar Datos en
                                        Excel</a>
                                
                            </div>
                        </div>        
                    </div>
                        
                </div>
            </div>

        </div>
    </main>
{% endblock content %}

{% block Footerborder %}

        <div class="header__navegacion">
            <ul class="header__lista">
                <li class="header__item">
                    <a class="header__link" aria-current="page" href="{% url 'inicio' %}">
                        <span>Inicio</span></a>
                </li>
                <li class="header__item">
                    <a class="header__link" aria-current="page"
                        href="{% url 'listar_noticia' %}">
                        <span>Noticias</span></a>
                </li>
                <li class="header__item">
                    <a class="header__link" aria-current="page"
                        href="{% url 'listar_proyectos' %}">
                        <span>Proyectos</span></a>
                </li>
                <li class="header__item">
                    <a class="header__link" aria-current="page"
                        href="{% url 'listar_actividad' %}">
                        <span>Actividades</span></a>
                </li>
            </ul>
        </div>
  
    
{% endblock Footerborder %}