.titulo{
    text-align: center;
    margin: 4.375rem auto;
}


/*  */

.formulario{
    position: relative;
    max-width: 33.25rem;
}

.formulario__svg{
    position: absolute;
    width: 2.875rem;
    height: 2.875rem;
    top: -1.6875rem;
    fill: #1464f6;
}

.main{
    position: relative;
}

.main__svg{
    position: absolute;
    z-index: -1;
    top: -0.625rem;
}

.formulario__campo:nth-child(1),
.formulario__campo:nth-child(2){
    max-width: 21.25rem;
    width: 80%;
    margin: 1.875rem auto;
}

.formulario__campo:nth-child(3){
    overflow: hidden;
}

.formulario__campo:last-child,
.formulario__campo:nth-child(3){
    align-items: center;
    margin: 1.875rem auto;
    width: 90%;
}

.formulario__item{
    text-align: center;
}

.formulario__oculto{

    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    right: .3125rem;
    top: .25rem;
}
.formulario__visualizar{

    width:  1.25rem;
    height:  1.25rem;
    position: absolute;
    right: .3125rem;
    display: none;
    top: .25rem;
}

.g-recaptcha > div{
    width: 70%;
}

.formulario__iniciar{
    text-decoration: none;
    border: none;
    color: #fff;
    background: #1464f6;
    background: linear-gradient(90deg, rgba(20,100,246,1) 0%, rgba(22,83,190,1) 100%, rgba(0,212,255,1) 100%);
    padding: .625rem 1.875rem;
    border-radius: .625rem;
    margin: 0 0 1.25rem 0;
    transition: transform .3s ease;
}

.formulario__iniciar:hover{
    transform: scale(1.1);
    transition: transform .3s ease;
}


.formulario__p{
    color: var(--color-black);
    font-size: .875rem;
    margin: .625rem 0;
    text-align: center;
}

.formulario__olvidar{
    margin: 1.25rem 0;
    color: var(--color-azul);
    text-decoration: none;
    transition: color .3s ease, font-weight .3s ease;
}

.formulario__olvidar:hover{
    color: var(--color-azul-hover);
    font-weight: 700;
    transition: color .3s ease, font-weight .3s ease;
}


@media (min-width: 576px) { 
    .formulario__link{
        font-size: 1.25rem;
    }

    .formulario__p{
        width: 70%;
    }
    
}


@media (min-width: 768px) { 
    .formulario__link{
        font-size: 1.5rem;
    }

    .formulario__link{
        transition: font-size .3s ease;
    }
    
    .formulario__link:hover{
        font-size: 1.5625rem;
        transition: font-size .3s ease;
    }
}


.load{
    background-color: #1464f6;
    border-radius: .625rem;
    width: 12rem;
    max-width: 12rem;
    display: none;
    padding: 0.625rem 1.875rem;
    justify-content: center;
    margin: 0 0 1.25rem 0;
    transition: transform .3s ease;
    cursor: wait
}

.load:hover{
    transform: scale(1.1);
    transition: transform .3s ease;
}

.sk-chase {
    width: 1.25rem;
    height: 1.25rem;
    position: relative;
    animation: sk-chase 2.5s infinite linear both;
  }
  
  .sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; 
    animation: sk-chase-dot 2.0s infinite ease-in-out both; 
  }
  
  .sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: #fff;
    border-radius: 100%;
    animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
  }
  
  .sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
  .sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
  .sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
  .sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
  .sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
  .sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
  .sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
  .sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
  .sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
  .sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
  .sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
  .sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }
  
  @keyframes sk-chase {
    100% { transform: rotate(360deg); } 
  }
  
  @keyframes sk-chase-dot {
    80%, 100% { transform: rotate(360deg); } 
  }
  
  @keyframes sk-chase-dot-before {
    50% {
      transform: scale(0.4); 
    } 100%, 0% {
      transform: scale(1.0); 
    } 
  }


