:root{
    --color-black: #111111;
    --color-azul: #1464f6;
    --color-azul-hover: #0b53d7;
    --color-verde: #39cb51;
    --color-azul-fondo: #033076;
    --color-celeste-activo: #3d8af7;
    --color-azul-fondo-2: rgb(32, 93, 183);
    --color-celeste-opacidad: rgba(61, 138, 247, 0.5);
    --color-verde-certificado: #84b93c;
    --color-white: #fff;
    --color-amarillo: #ffc107;
    --color-rojo: #cb3939;
}

* {
    box-sizing: border-box;
}

body{
    box-sizing: inherit;
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='5000' preserveAspectRatio='none' viewBox='0 0 1440 5000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2561%26quot%3b)' fill='none'%3e%3crect width='1440' height='5000' x='0' y='0' fill='rgba(133%2c 163%2c 255%2c 0.29)'%3e%3c/rect%3e%3cpath d='M496.15597339263786 2475.8674618241776L364.82384207514497 2650.1510866014282 670.4395981698885 2607.1995931416704z' fill='rgba(56%2c 148%2c 213%2c 0.19)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M524.9636504274031 2898.8703389439333L793.7461013995194 3060.371128818784 686.4644403022537 2630.087887971817z' fill='rgba(56%2c 148%2c 213%2c 0.19)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1053.181%2c1100.983C1214.95%2c1111%2c1368.119%2c1015.776%2c1445.661%2c873.45C1520.208%2c736.622%2c1500.314%2c568.272%2c1414.143%2c438.45C1336.427%2c321.365%2c1193.537%2c275.172%2c1053.181%2c282.154C925.476%2c288.507%2c813.478%2c360.816%2c749.485%2c471.513C685.426%2c582.325%2c681.119%2c714.27%2c736.737%2c829.55C801.459%2c963.7%2c904.519%2c1091.777%2c1053.181%2c1100.983' fill='rgba(56%2c 148%2c 213%2c 0.19)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M330.169227863125 1401.8575733105492L598.754234422042 1234.3827352521005 356.756242177838 1100.2410577177411z' fill='rgba(56%2c 148%2c 213%2c 0.19)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M156.8257589201641 1111.21740019971L595.7786388686685 1119.2978172148867 415.60537642099496 780.4411941817565z' fill='rgba(56%2c 148%2c 213%2c 0.19)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M528.1025667317402 3219.180401852908L785.3785432894392 3205.697139258643 636.5156611191924 2826.524805719227z' fill='rgba(56%2c 148%2c 213%2c 0.19)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M323.351%2c942.531C448.528%2c933.17%2c543.328%2c838.809%2c601.131%2c727.383C653.93%2c625.603%2c652.602%2c509.064%2c601.45%2c406.446C543.283%2c289.756%2c453.578%2c176.512%2c323.351%2c170.123C184.515%2c163.312%2c64.747%2c257.21%2c-6.399%2c376.625C-79.482%2c499.291%2c-108.982%2c651.739%2c-37.094%2c775.11C34.391%2c897.79%2c181.758%2c953.119%2c323.351%2c942.531' fill='rgba(56%2c 148%2c 213%2c 0.19)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M580.006554024196 4354.707701512098L847.7690263963498 4485.304185282963 710.6030377950615 4086.945229139944z' fill='rgba(56%2c 148%2c 213%2c 0.19)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M345.792%2c3610.738C409.49%2c3614.068%2c473.461%2c3583.402%2c503.558%2c3527.164C532.33%2c3473.403%2c512.883%2c3409.993%2c481.063%2c3357.978C450.904%2c3308.678%2c403.551%2c3271.241%2c345.792%2c3269.27C284.559%2c3267.18%2c222.717%2c3294.299%2c193.524%2c3348.166C165.406%2c3400.048%2c184.617%2c3460.991%2c214.221%2c3512.04C243.699%2c3562.872%2c287.111%2c3607.671%2c345.792%2c3610.738' fill='rgba(56%2c 148%2c 213%2c 0.19)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1031.921%2c5170.247C1125.113%2c5171.065%2c1209.453%2c5122.689%2c1260.641%2c5044.809C1318.104%2c4957.381%2c1355.773%2c4846.576%2c1304.651%2c4755.296C1252.713%2c4662.559%2c1138.186%2c4638.765%2c1031.921%2c4636.422C920.118%2c4633.957%2c791.319%2c4644.746%2c737.532%2c4742.791C684.82%2c4838.876%2c747.89%2c4950.594%2c810.052%2c5040.853C862.099%2c5116.426%2c940.164%2c5169.442%2c1031.921%2c5170.247' fill='rgba(56%2c 148%2c 213%2c 0.19)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1315.857%2c3657.363C1352.59%2c3655.591%2c1385.368%2c3638.548%2c1406.389%2c3608.372C1431.605%2c3572.173%2c1455.259%2c3526.553%2c1433.848%2c3487.981C1412.09%2c3448.785%2c1360.658%2c3443.665%2c1315.857%2c3445.279C1274.506%2c3446.769%2c1233.534%2c3460.819%2c1211.729%2c3495.985C1188.769%2c3533.013%2c1185.197%2c3581.291%2c1208.819%2c3617.901C1230.916%2c3652.148%2c1275.147%2c3659.327%2c1315.857%2c3657.363' fill='rgba(56%2c 148%2c 213%2c 0.19)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M999.6388191876653 503.4394219342911L1030.0162656594093 675.7184818359026 1273.2461322759546 544.0127821774806z' fill='rgba(56%2c 148%2c 213%2c 0.19)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M420.9065903941355 3873.7444821695867L238.64122692455436 3664.0721663035265 211.23427452807508 4056.009845639168z' fill='rgba(56%2c 148%2c 213%2c 0.19)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1203.618%2c732.961C1265.095%2c729.871%2c1310.217%2c681.359%2c1339.752%2c627.352C1367.86%2c575.955%2c1381.134%2c513.896%2c1350.837%2c463.758C1321.343%2c414.949%2c1260.583%2c399.382%2c1203.618%2c402.063C1151.677%2c404.507%2c1107.668%2c433.463%2c1078.588%2c476.569C1044.648%2c526.879%2c1014.918%2c587.795%2c1041.518%2c642.343C1070.599%2c701.977%2c1137.355%2c736.292%2c1203.618%2c732.961' fill='rgba(56%2c 148%2c 213%2c 0.19)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M859.984%2c1757.469C927.706%2c1753.759%2c972.75%2c1697.36%2c1009.29%2c1640.22C1050.293%2c1576.1%2c1102.928%2c1501.62%2c1066.235%2c1434.94C1028.933%2c1367.155%2c937.09%2c1362.502%2c859.984%2c1368.898C795.25%2c1374.268%2c739.945%2c1409.753%2c705.554%2c1464.858C668.632%2c1524.019%2c646.827%2c1596.617%2c679.377%2c1658.292C713.736%2c1723.395%2c786.481%2c1761.495%2c859.984%2c1757.469' fill='rgba(56%2c 148%2c 213%2c 0.19)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M4.953155023554103 1705.1165820689648L-122.95640307065523 1967.3700404042324 267.20661335882176 1833.0261401631742z' fill='rgba(56%2c 148%2c 213%2c 0.19)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M838.298569607875 1399.4548643517633L793.9303648267386 1608.190856468604 1129.2184553925676 1570.3751675818885z' fill='rgba(56%2c 148%2c 213%2c 0.19)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M687.819%2c4330.968C822.473%2c4325.223%2c922.726%2c4225.643%2c994.872%2c4111.802C1074.374%2c3986.355%2c1152.833%2c3837.391%2c1084.037%2c3705.768C1011.919%2c3567.788%2c843.507%2c3525.149%2c687.819%2c3524.333C530.378%2c3523.508%2c363.156%2c3565.281%2c284.344%2c3701.578C205.463%2c3837.994%2c246.717%2c4007.434%2c331.761%2c4140.095C409.655%2c4261.604%2c543.617%2c4337.121%2c687.819%2c4330.968' fill='rgba(56%2c 148%2c 213%2c 0.19)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2561'%3e%3crect width='1440' height='5000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e"); */
    background-color: #F3F1F5;
}

.container{
    width: 90%;
    margin: 0 auto;
}

h1, h2, h3{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

p{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

a, input{
    font-family: 'Poppins', sans-serif;
}

.border{
    position: relative;
    display: inline-block; /* Agrega esta línea para mantener el enlace como bloque en línea */
}

.border::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: var(--color-azul); 
    border-radius: .625rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: border 2s ease-in-out forwards;
    animation-delay: .3s; 
}

@keyframes border {
    0% {
        width: 0; 
    }
    100% {
        width: 100%; 
    }
}

@media (min-width: 768px) { 


    @keyframes border {
        0% {
            width: 0; 
        }
        100% {
            width: 100%; 
        }
    }
}


