{% extends 'core/base.html' %}

{% load static %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'core/css/vecino/iniciarSesion-Inscribirse/iniciarSesion-Inscribirse.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/vecino/contrasenaOlvidada/passwordDone/passwordDone.css' %}">
{% endblock extrastyle %}

{% block Headerborder %}
    <div class="header__navegacion">
        <ul class="header__lista">
            <li class="header__item">
                <a class="header__link" aria-current="page" href="{% url 'inicio' %}">Inicio</a>
            </li>
            <li class="header__item">
                <a class="header__link" aria-current="page"
                    href="{% url 'listar_noticia' %}">Noticias</a>
            </li>
            <li class="header__item">
                <a class="header__link" aria-current="page"
                    href="{% url 'listar_proyectos' %}">Proyectos</a>
            </li>
            <li class="header__item">
                <a class="header__link" aria-current="page"
                    href="{% url 'listar_actividad' %}">Actividades</a>
            </li>
        </ul>
    </div> 
{% endblock Headerborder %}

{% block FuncionVecino %}    
<div class="header__navegacion">
    <ul class="header__lista">
        <li class="header__item">
            <a class="header__link iniciar" aria-current="page" href="{% url 'login' %}">Iniciar sesión</a>
        </li>
        <li class="header__item">
            <a class="header__link inscribirse" aria-current="page"
                href="{% url 'register_user' %}">Registrarse</a>
        </li>
    </ul>
</div>
{% endblock FuncionVecino %}

{% block content %}

<main class="main container">
    <div class="main__titular">
        <h1 class="main__titulo">Restauración de contraseña completado</h1>
        
        <p class="main__descripcion">Tu contraseña ha sido restaurada, ya puedes iniciar sesión con tu nueva clave.</p>
    </div>
    
    <div class="main__grid">
        <div class="main__imagen">
            <img class="main__img" src="{% static 'core/img/safe.svg' %}" alt="imagen mypassword">
        </div>
        <div class="main__enlace">
            <div class="main__info">
                <p class="main__descripcion">Clickea aqui para direccionar correctamente</p>
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/></svg>
            </div>
            <a class="main__link" href="{% url 'login' %}">Inicia sesión aquí</a>
            
        </div>
    </div>
</main>
{% endblock %}

{% block Footerborder %}

        

        <div class="header__navegacion">
            <ul class="header__lista">
                <li class="header__item">
                    <a class="header__link" aria-current="page" href="{% url 'inicio' %}">
                        <span>Inicio</span></a>
                </li>
                <li class="header__item">
                    <a class="header__link" aria-current="page"
                        href="{% url 'listar_noticia' %}">
                        <span>Noticias</span></a>
                </li>
                <li class="header__item">
                    <a class="header__link" aria-current="page"
                        href="{% url 'listar_proyectos' %}">
                        <span>Proyectos</span></a>
                </li>
                <li class="header__item">
                    <a class="header__link" aria-current="page"
                        href="{% url 'listar_actividad' %}">
                        <span>Actividades</span></a>
                </li>
            </ul>
        </div>
  
{% endblock Footerborder %}


{% block js %}
    <script src="{% static 'core/js/contrasena/contrasenaConfirmar.js' %}"></script>
{% endblock js %}
    