{% extends 'core/base.html' %}

{% load static %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'core/css/vecino/iniciarSesion-Inscribirse/iniciarSesion-Inscribirse.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/vecino/contrasenaOlvidada/contrasenaOlvidada.css' %}">
{% endblock extrastyle %}

{% block Headerborder %}
    <div class="header__navegacion">
        <ul class="header__lista">
            <li class="header__item">
                <a class="header__link" aria-current="page" href="{% url 'inicio' %}">Inicio</a>
            </li>
            <li class="header__item">
                <a class="header__link" aria-current="page"
                    href="{% url 'listar_noticia' %}">Noticias</a>
            </li>
            <li class="header__item">
                <a class="header__link" aria-current="page"
                    href="{% url 'listar_proyectos' %}">Proyectos</a>
            </li>
            <li class="header__item">
                <a class="header__link" aria-current="page"
                    href="{% url 'listar_actividad' %}">Actividades</a>
            </li>
        </ul>
    </div> 
{% endblock Headerborder %}

{% block FuncionVecino %}    
<div class="header__navegacion">
    <ul class="header__lista">
        <li class="header__item">
            <a class="header__link iniciar" aria-current="page" href="{% url 'login' %}">Iniciar sesión</a>
        </li>
        <li class="header__item">
            <a class="header__link inscribirse" aria-current="page"
                href="{% url 'register_user' %}">Registrarse</a>
        </li>
    </ul>
</div>
{% endblock FuncionVecino %}

{% block content %}

<main class="main container">
    <div class="main__titulo">
        <h3 class="main__titular">Restableciminto de contraseña enviado</h3>
    </div>
    
    <div class="main__descriptivo">

        <div class="main__info">
            <p class="main__descripcion">Hemos enviado un correo con instrucciones para que puedes recuperar tu contraseña.</p>
            <p class="main__informacion">Revisa tu bandeja de entrada</p>
            <p class="main__guia">Haga click en la imagen si quiere ir inmediatamente.</p>
        </div>

        <div class="main__gmail">
            <a class="main__link" href="https://mail.google.com/">
                <img class="gmail" src="{% static 'core/img/gmail.png' %}" alt="imagen gmail">
            </a>
        </div>
        
    </div>
</main>
{% endblock content %}

{% block Footerborder %}

        

        <div class="header__navegacion">
            <ul class="header__lista">
                <li class="header__item">
                    <a class="header__link" aria-current="page" href="{% url 'inicio' %}">
                        <span>Inicio</span></a>
                </li>
                <li class="header__item">
                    <a class="header__link" aria-current="page"
                        href="{% url 'listar_noticia' %}">
                        <span>Noticias</span></a>
                </li>
                <li class="header__item">
                    <a class="header__link" aria-current="page"
                        href="{% url 'listar_proyectos' %}">
                        <span>Proyectos</span></a>
                </li>
                <li class="header__item">
                    <a class="header__link" aria-current="page"
                        href="{% url 'listar_actividad' %}">
                        <span>Actividades</span></a>
                </li>
            </ul>
        </div>
   
    
{% endblock Footerborder %}