{% extends 'core/base.html' %}

{% load static %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'core/css/miembroJDV/perfil/perfil.css' %}">    
{% endblock extrastyle %}

{% block Headerborder %}
    <div class="header__navegacion">
        <ul class="header__lista">
            <li class="header__item">
                <a class="header__link" aria-current="page" href="{% url 'inicio' %}">Inicio</a>
            </li>
            <li class="header__item">
                <a class="header__link" aria-current="page"
                    href="{% url 'listar_noticia' %}">Noticias</a>
            </li>
            <li class="header__item">
                <a class="header__link" aria-current="page"
                    href="{% url 'listar_proyectos' %}">Proyectos</a>
            </li>
            <li class="header__item">
                <a class="header__link" aria-current="page"
                    href="{% url 'listar_actividad' %}">Actividades</a>
            </li>
        </ul>
    </div>
{% endblock Headerborder %}

{% block content %}


<main class="main container">
    <h2 class="main__titulo">Mi perfil</h2>

    <div class="main__flex">
        <div class="main__grid">
            <div class="user">
                
                <svg class="user__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
                </svg>
                
            </div>
            <div class="main__info">
                <div class="main__usuario">
                    <p class="main__p">{{ user.first_name }}</p>
                    <p class="main__p">{{ user.last_name }}</p>
                </div>
               
                <div class="main__dato">
                    <p class="main__p">
                        <svg class="dato__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                            <path d="M0 96l576 0c0-35.3-28.7-64-64-64H64C28.7 32 0 60.7 0 96zm0 32V416c0 35.3 28.7 64 64 64H512c35.3 0 64-28.7 64-64V128H0zM64 405.3c0-29.5 23.9-53.3 53.3-53.3H234.7c29.5 0 53.3 23.9 53.3 53.3c0 5.9-4.8 10.7-10.7 10.7H74.7c-5.9 0-10.7-4.8-10.7-10.7zM176 192a64 64 0 1 1 0 128 64 64 0 1 1 0-128zm176 16c0-8.8 7.2-16 16-16H496c8.8 0 16 7.2 16 16s-7.2 16-16 16H368c-8.8 0-16-7.2-16-16zm0 64c0-8.8 7.2-16 16-16H496c8.8 0 16 7.2 16 16s-7.2 16-16 16H368c-8.8 0-16-7.2-16-16zm0 64c0-8.8 7.2-16 16-16H496c8.8 0 16 7.2 16 16s-7.2 16-16 16H368c-8.8 0-16-7.2-16-16z"/>
                        </svg> 
                        {{ user.rut }}
                    </p>
                </div>
                <div class="main__dato">
                    <p class="main__p">
                        
                        {% if user.is_staff %}
                        <span class="main__rol">Rol: </span>Directiva JDV
                        {% else %}
                        <span class="main__rol">Rol: </span>Miembro JDV
                        {% endif %}
                            
                    </p>
                </div>
            </div>
            <div class="main__personal">
                <div class="main__dato">
                    <p class="main__p">
                        <svg class="dato__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                            <path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/>
                        </svg> 
                        {{ user.address }}
                    </p>
                </div>
                <div class="main__dato">
                    <p class="main__p">
                        <svg class="dato__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/>
                        </svg> 
                        {{ user.email }}
                    </p>
                </div>
                <div class="main__dato">
                    <p class="main__p">
                        <svg class="dato__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path d="M128 0c17.7 0 32 14.3 32 32V64H288V32c0-17.7 14.3-32 32-32s32 14.3 32 32V64h48c26.5 0 48 21.5 48 48v48H0V112C0 85.5 21.5 64 48 64H96V32c0-17.7 14.3-32 32-32zM0 192H448V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V192zm64 80v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H80c-8.8 0-16 7.2-16 16zm128 0v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H208c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H336zM64 400v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H80c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H208zm112 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H336c-8.8 0-16 7.2-16 16z"/>
                        </svg>
                        {{ user.birthdate }}
                    </p>
                </div>
            </div>
            <div class="main__enlace">
                <a class="main__link" href="{% url 'update_profile_user' %}">¿Actualizar Datos?</a>
            </div>
        </div>
    </div>

</main>


{% endblock %}

{% block Footerborder %}

        <div class="header__navegacion">
            <ul class="header__lista">
                <li class="header__item">
                    <a class="header__link" aria-current="page" href="{% url 'inicio' %}">
                        <span>Inicio</span></a>
                </li>
                <li class="header__item">
                    <a class="header__link" aria-current="page"
                        href="{% url 'listar_noticia' %}">
                        <span>Noticias</span></a>
                </li>
                <li class="header__item">
                    <a class="header__link" aria-current="page"
                        href="{% url 'listar_proyectos' %}">
                        <span>Proyectos</span></a>
                </li>
                <li class="header__item">
                    <a class="header__link" aria-current="page"
                        href="{% url 'listar_actividad' %}">
                        <span>Actividades</span></a>
                </li>
            </ul>
        </div>
  
    
{% endblock Footerborder %}