.main__titular,
.main__enlace{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__info{
    text-align: center;
}

.main__titular{
    margin: 1.875rem 0;
}

.main__grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.main__titulo,
.main__descripcion{
    text-align: center;
    margin: 1.25rem 0;
}

.main__imagen{
    display: flex;
}

.main__img{
    width: 50%;
    margin: 0 auto;
}

.main__link{
    border: none;
    text-decoration: none;
    background-color: var(--color-azul);
    color: #fff;
    border-radius: .625rem;
    padding: .625rem .625rem;
    margin: 2.5rem auto;
    text-align: center;
    transition: transform .3s ease;
}

.main__link:hover{
    transform: scale(1.1);
    transition: transform .3s ease;
}


@media (min-width: 768px) { 
    .main__grid{
        grid-template-columns: repeat(2, 1fr);
        margin: 0 0 6.25rem 0;
    }

    .main__link{
        margin: 1.25rem auto;
    }

    .main__img{
        width: 70%;
    }
}